<h1>Result</h1>
<h2>Total cost <%= @total_cost %></h2>
<% @results.each do |result| %>
	<li><%= User.find(result.keys.first).login%> : <%= result.values.first %></li> 
<% end -%>
<%= link_to "Back", travel_url(@travel)%>