<div class="container">
<h1 class="form-signin-heading">Login</h1>
<%= form_tag(sessions_path, class: "form-signin") do -%>
	<%= text_field_tag :login, params[:login], class: "form-control", placeholder: "Username" %>
	<%= text_field_tag :password, params[:password], class: "form-control", placeholder: "Password" %>

	<%= submit_tag "Login", class: "btn btn-lg btn-primary btn-block"%>
<% end %>	
</div>
