.container-fluid{
  max-width: 960px;
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
}
h1, h2, h3, h4{
  text-align: center;
  color: rgb(255, 92, 0);
}
h1{
	margin: 5px;
	font-size: 28px;
}

$orange: rgb(255, 92, 0);

.btn-orange{
  background: $orange;
  color: #fff;
  display: block;
}
.btn-orange a{
  color: #fff;
}

.btn.cent{
  margin-left: auto;
  margin-right: auto;
}
.badge{
  padding: 5px 8px;
  background: #aaa;
  margin-top: 5px;
}
