$orange: rgb(255, 92, 0);

.header{
  padding: 15px;
}
.login{
  input{
    width: 100%;
    box-shadow: none;
    border: none;
    padding: 15px;
    background: #EFEFEF;
    margin-bottom: 4px;
  }
  .btn{
    padding: 10px;
    width: 145px;
  }
  .submit{
    background: $orange;
    float: right;
  }
 .row{
    padding: 0 12%;
 }
}