$orange: rgb(255, 92, 0);

.header{
  padding: 15px;
}
.login{
  input{
    width: 100%;
    box-shadow: none;
    border: none;
    border-top: 1px solid #bbb;
    padding: 15px;
    background: #EFEFEF;
    margin-bottom: 4px;
  }
  .btn{
    padding: 10px;
    width: 145px;
  }
  .submit{
    background: $orange;
  }
  .btn-group{
    margin: 0 auto;
  }
}