$orange: rgb(255, 92, 0);

.header-new{
  padding-bottom: 15px;
}
.nameInput {
  margin: 0;
  input{
    width: 100%;
    padding: 8px;
    border: 1px solid $orange;
    border-bottom: 0;
  }
}

.list-group-item{
  border-color: #fff;
  background-color: #eee;
  font-size: 1.5em;
  border-radius: 0 !important;
  border: none;
  margin-bottom: 1px;
  input{
    margin: 8px;
  }
  .icheckbox_flat-grey{
    margin-right: 10px;
  }
}

.hint{
  background: $orange;
  color: #fff;
  text-align: center;
  font-size: 1em;
}

.travel-list li{
  a{
    display: block;
    width: 100%;
    color: #666666;
    text-decoration: none;
  }
}

.build-bill{
  width: 100%;
}

.bill-build-form{
  .col-xs-4{
    overflow: hidden;
    label{
      height: 50px;
      width: 95%;
      border-right: 5px solid $orange;
    }
  }
  textarea{
    width: 100%;
  }
}
